
div #back-particles {
    position: fixed;
    top:-5vh;
    left:-5vh;
    width: 110vw;
    height: 110vh;
    z-index: -1;
}

div #front-particles {
    position: absolute;
    top:-5vh;
    left:-5vh;
    width: 110vw;
    height: 110vh;
    z-index: 0;
}