// @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@200;300;400;500;600;700&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

// 1. Import the initial variables
@import "~bulma/sass/utilities/initial-variables.sass";
@import "~bulma/sass/utilities/functions.sass";

//Font & text
$family-serif: "Ubuntu", sans-serif;
$family-titles: "Quicksand", sans-serif;
$family-menu: "Josefin Sans", sans-serif;
$family-primary: $family-serif;
$family-secondary: $family-titles;

$size-1: 4.2rem;
$size-2: 3.3rem;

//Color
$primary: #1f7042;
$primary-light: #94e2af;

$brown: #53321e;
$brown-invert: findColorInvert($brown);
$brown-light: #d1a36e;

$dark-color: #0a232d;
$dark: $dark-color;

$light: rgb(250, 250, 250);
$light-invert: findColorInvert($light);

$link: $brown;
$link-hover: $brown-light;

$background: $primary-light;

$panel-item-border: 0;
$panel-radius: 0;

$hr-height: 1px;

$card-shadow: 0.15em 0.15em 1em rgba(#000000, 1),
  0 0px 2px 1px rgba(#000000, 0.5);

$menu-item-color: $primary-light;
$menu-item-hover-color: $dark;
$menu-item-hover-background-color: $primary-light;
$menu-item-radius: 0;

@import "~bulma/sass/utilities/derived-variables.sass";
$addColors: (
  "secondary": (
    $brown,
    $brown-invert,
  ),
);
$colors: map-merge($colors, $addColors);

@import "~bulma/bulma.sass";
@import "./divider.css";
@import "./background.css";
@import "./navbar.scss";
@import "./sideMenu.scss";

.no-hover {
  pointer-events: none;
}

html {
  background-color: $primary-light;
}
html,
body {
  overflow-x: hidden;
}

//Footer
footer {
  a {
    color: $dark-color;
    &:hover {
      color: $primary;
    }
  }
}

section#header.hero .hero-body {
  .strong-shadow {
    text-shadow: 0.1em 0.1em 0.3em rgba($dark-color, 1),
      -1px -1px 2px rgba($dark-color, 1), 1px -1px 2px rgba($dark-color, 1),
      -1px 1px 2px rgba($dark-color, 1), 1px 1px 2px rgba($dark-color, 1);
  }
  .weak-shadow {
    text-shadow: 0.05em 0.05em 0.2em rgba($dark-color, 0.4),
      -1px -1px 1px rgba($dark-color, 0.75),
      1px -1px 1px rgba($dark-color, 0.75), -1px 1px 1px rgba($dark-color, 0.75),
      1px 1px 1px rgba($dark-color, 0.75);
  }
}

section.hero,
.hero-foot,
nav {
  position: sticky;
}

//portfolio

section#portfolio .card {
  background-color: $dark;
  border: 1px solid $primary-light;

  .portfolio-item-title {
    color: $brown-light;
    &:hover {
      color: $white;
    }
  }

  .stack-item {
    border-bottom: 1px solid white;
  }
}

//sezioni home
section#work {
  margin-top: 11vh;

  section {
    position: relative;
  }
  section::before {
    content: "";
    position: absolute;
    width: 160%;
    height: 120%;
    top: 0%;
    left: -50%;
    z-index: 0;
  }
  section#orientate {
    .home-section-title {
      color: $primary-light;
    }
    .home-section-subtitle {
      color: $primary-light;
    }
    .home-section-head {
      color: $white;
    }

    color: white;
    &:before {
      background-color: $brown;
      -webkit-transform: rotate(-2deg);
      -moz-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
      -o-transform: rotate(-2deg);
      transform: rotate(-2deg);
    }
  }
  section#explore {
    .home-section-title {
      color: $dark;
    }
    .home-section-subtitle {
      color: $dark;
    }
    .home-section-head {
      color: $brown;
    }
    color: $brown;
    &:before {
      background-color: $primary-light;
      -webkit-transform: rotate(2deg);
      -moz-transform: rotate(2deg);
      -ms-transform: rotate(2deg);
      -o-transform: rotate(2deg);
      transform: rotate(2deg);
    }
  }
  section#build {
    .home-section-title {
      color: $primary;
    }
    .home-section-subtitle {
      color: $primary;
    }
    .home-section-head {
      color: $dark;
    }
    color: $dark;
    &:before {
      background-color: $white;
      -webkit-transform: rotate(-2deg);
      -moz-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
      -o-transform: rotate(-2deg);
      transform: rotate(-2deg);
      height: 98%;
    }
  }
}

.rounded-image {
  border: 0.2rem solid white;
  border-radius: 50%;
}

.portfolio-image {
  display: none;
}

.tooltip-highlight {
  color: $brown;
  text-decoration: underline $brown dotted;
}

.tooltip {
  font-size: 0.9rem !important;
  max-width: 40vw !important;
  padding: 8px !important;
}

@media (max-width: #{$desktop - 1}) {
  .columns.is-reversed-touch {
    flex-direction: column-reverse;
    display: flex;
  }
}
